<ng-container *ngIf="cardVide">
  <div class="cartBox">
    <h1 class="text-primary">Shopping Cart</h1>
    <div class="headCart">
      <p class="lead">
        You have <label class="text-primary">{{ cartProducts.length }}</label>
        {{ cartProducts.length === 1 ? "item" : "items" }} in your cart
      </p>
      <span
        class="text-primary card-header p-2 d-none d-sm-table"
        (click)="deleteAllProducts()"
      >
        Clear Shopping Cart
      </span>
    </div>
    <div class="table-responsive">
      <!-- Small Screen View -->
      <table class="table table-striped d-block d-sm-none">
        <tbody>
          <tr *ngFor="let item of cartProducts; let index = index">
            <td>
              <img src="{{ item.item.imageUrl }}" alt="" />
              <div class="quantity">
                <button
                  class="btn btn-primary"
                  (click)="increaseQuantity(index)"
                >
                  +
                </button>
                <input
                  class="form-control"
                  (change)="detectChange($event)"
                  type="text"
                  [(ngModel)]="item.quantity"
                  min="1"
                  [max]="item.item.quantity"
                />
                <button
                  class="btn btn-primary"
                  (click)="decreaseQuantity(index)"
                >
                  -
                </button>
              </div>
            </td>
            <td>
              <div class="mb-5">
                {{ item.item.name }}
              </div>
              <div class="price text-muted">
                ${{ item.item.price }}
                <i
                  class="bi bi-x-lg btn text-danger"
                  (click)="deleteProduct(index)"
                ></i>
              </div>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <th class="text-center">Total: {{ totalPrice.toFixed(2) }} $</th>
          </tr>
          <tr>
            <td class="text-end" colspan="2">
              <button class="btn btn-success w-100" (click)="order()">
                Order Now
              </button>
            </td>
          </tr>
        </tfoot>
      </table>

      <!-- Large Screen View -->
      <table class="table table-striped d-none d-sm-table">
        <thead>
          <tr class="text-center">
            <th></th>
            <th>Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Total</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of cartProducts; let index = index">
            <td><img src="{{ item.item.imageUrl }}" alt="" /></td>
            <td>{{ item.item.name }}</td>
            <td>{{ item.item.price }} dt</td>
            <td>
              <div class="card__counter quantity">
                <button (click)="decreaseQuantity(index)" class="card__btn">
                  -
                </button>
                <div class="card__counter-score">{{ item.quantity }}</div>
                <button
                  (click)="increaseQuantity(index)"
                  class="card__btn card__btn-plus"
                >
                  +
                </button>
              </div>
            </td>
            <td>{{ (item.item.price * item.quantity).toFixed(2) }} dt</td>
            <td>
              <div
                style="
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                "
              >
                <button class="delete-button" (click)="deleteProduct(index)">
                  <svg class="delete-svgIcon" viewBox="0 0 448 512">
                    <path
                      d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z"
                    ></path>
                  </svg>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <th class="text-end" colspan="3">
              <!-- Total: <span id="totalPrice"> {{totalPrice.toFixed(2)}}</span> dt -->
            </th>
            <th></th>
            <th></th>
            <th>
              <div [attr.data-tooltip]="'Total: ' + totalPrice.toFixed(2) + ' dt'" class="button">
                <div class="button-wrapper">
                  <div class="text" >Buy Now</div>
                  <span class="icon"(click)="order()">
                    <svg viewBox="0 0 16 16" class="bi bi-cart2" fill="currentColor" height="16" width="16" xmlns="http://www.w3.org/2000/svg">
                      <path d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l1.25 5h8.22l1.25-5H3.14zM5 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z"></path>
                    </svg>
                  </span>
                </div>
              </div>
            </th>
          </tr>
        </tfoot>

      </table>
    </div>
  </div>
</ng-container>
