@import 'src/styles.scss';

.cartBox {
  border-radius: 5px;
  padding: 0 20px;
  margin: 30px 0;

  .table {

    .quantity {
      display: flex;
      justify-content: space-around;
      width: fit-content;
      margin: auto;
      input {
        margin: 0 20px;
      }

      @media (max-width: 768px) {
        .quantity{
          max-width: 150px;
        }
        input {
          margin: 10px;
          max-width: 50px;
          max-height: 35px;
        }
        button{
          margin-top: 10px;
          max-height: 35px;
        }
      }
    }

    tbody {

      tr {
        td {
          border-bottom: 0;
          text-align: center;
          vertical-align: middle;

          img {
            width: 80px;
            height: 80px;
            border-radius: 15%;
          }
        }

        @media (max-width: 768px) {
          display: flex;
          justify-content: space-around;
          align-items: center;
        }
      }

      input {
        text-align: center;
      }
    }
  }

  .headCart {
    display: flex;
    justify-content: space-between;
    align-items: center;

    span {
      font-size: 16px;
      cursor: pointer;
      transition: all 0.3s ease-in-out;

      &:hover {
        background-color: $primary-color;
        color: $button-text-color !important;
        box-shadow: 0px 5px 10px rgba($color: #000000, $alpha: 0.3);
      }
    }
  }
}

tfoot {

  tr {
    th {
       margin-left: 35px;
      color: $search-text-color;
      padding: 10px;
    }
  }
}


/* delete button style*/

.delete-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgb(20, 20, 20);
  border: none;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
  cursor: pointer;
  transition-duration: 0.3s;
  overflow: hidden;
  position: relative;
}

.delete-svgIcon {
  width: 15px;
  transition-duration: 0.3s;
}

.delete-svgIcon path {
  fill: white;
}

.delete-button:hover {
  width: 90px;
  border-radius: 50px;
  transition-duration: 0.3s;
  background-color: rgb(255, 69, 69);
  align-items: center;
}

.delete-button:hover .delete-svgIcon {
  width: 20px;
  transition-duration: 0.3s;
  transform: translateY(60%);
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}

.delete-button::before {
  display: none;
  content: "Delete";
  color: white;
  transition-duration: 0.3s;
  font-size: 2px;
}

.delete-button:hover::before {
  display: block;
  padding-right: 10px;
  font-size: 13px;
  opacity: 1;
  transform: translateY(0px);
  transition-duration: 0.3s;
}


/* btn buy */

.button {
  --width: 120px;
  --height: 40px;
  --tooltip-height: 40px;
  --tooltip-width: 200px;
  --gap-between-tooltip-to-button: 18px;
  --button-color: #222;
  --tooltip-color: #fff;
  width: var(--width);
  height: var(--height);
  background: var(--button-color);
  position: relative;
  text-align: center;
  border-radius: 0.45em;
  font-family: "Arial";
  transition: background 0.3s;
}

.button::before {
  position: absolute;
  content: attr(data-tooltip);
  width: var(--tooltip-width);
  height: var(--tooltip-height);
  background-color: #555;
  font-size: 0.9rem;
  color: #fff;
  border-radius: .25em;
  line-height: var(--tooltip-height);
  bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) + 10px);
  left: calc(50% - var(--tooltip-width) / 2);
}

.button::after {
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-top-color: #555;
  left: calc(50% - 10px);
  bottom: calc(100% + var(--gap-between-tooltip-to-button) - 10px);
}

.button::after,.button::before {
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
}

.text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-wrapper,.text,.icon {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  color: #fff;
}

.text {
  top: 0
}

.text,.icon {
  transition: top 0.5s;
}

.icon {
  color: #fff;
  top: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon svg {
  width: 24px;
  height: 24px;
}

.button:hover {
  background: #222;
}

.button:hover .text {
  top: -100%;
}

.button:hover .icon {
  top: 0;
}

.button:hover:before,.button:hover:after {
  opacity: 1;
  visibility: visible;
}

.button:hover:after {
  bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) - 20px);
}

.button:hover:before {
  bottom: calc(var(--height) + var(--gap-between-tooltip-to-button));
}




