<div class="container">
  <div class="forms">
    <!-- Registration Form -->
    <div class="form signup">
      <span class="title">Registration</span>
      <form [formGroup]="registerForm">
        <!-- Row 1 -->
        <div class="input-field">
          <input
            type="text"
            placeholder="Enter your name"
            formControlName="username"
            required
          />
          <i class="bi bi-person-fill"></i>
        </div>
        <div class="input-field">
          <input
            type="tel"
            pattern="[0-9]{2}[0-9]{3}[0-9]{3}"
            placeholder="Enter your phone number"
            formControlName="phoneNumber"
            required
          />
          <i class="bi bi-telephone-fill"></i>
        </div>

        <!-- Row 2 -->
        <div class="input-field">
          <input
            type="email"
            formControlName="email"
            placeholder="Enter your email"
            required
          />
          <i class="bi bi-envelope-at-fill"></i>
        </div>

        <!-- Row 3 (Profile Image) -->

        <div class="input-field icon-input">
          <input required placeholder="Choose Profile Image" [value]="fileName"  formControlName="profile" />
          <label for="fileUpload" class="icon-label">
            <input required  type="file" #fileInput style="display: none" (change)="selectProfileImage($event)" />
            <i class="bi bi-paperclip"(click)="fileInput.click()" ></i>
          </label>
        </div>


        <!-- Row 4 -->
        <div class="input-field">
          <input
            type="password"
            class="password"
            placeholder="Create a password"
            formControlName="password"
            required
          />
          <i class="bi bi-shield-lock-fill"></i>
        </div>
        <div class="input-field">
          <input
            type="password"
            class="password"
            formControlName="passwordConfirm"
            placeholder="Confirm your password"
            required
          />
          <i class="bi bi-shield-lock-fill"></i>
        </div>



        <!-- Checkbox for Terms -->
        <div class="checkbox-text">
          <div class="checkbox-content">
            <input type="checkbox" id="termCon" />
            <label for="termCon" class="text"
              >I accept all terms and conditions</label
            >
          </div>
        </div>

        <!-- Submit Button -->
        <div class="input-field button">
          <button class="input-field button my-1" (click)="createAccount()">Signup</button>
        </div>
      </form>
      <div class="login-signup">
        <span class="text"
          >Already a member?
          <a href="#" class="text login-link" routerLink="/login">Login Now</a>
        </span>
      </div>
    </div>
  </div>
</div>
