<div class="container">
  <div class="box one">
    <div class="details" *ngIf="dataProduct">
      <div class="topic">Description</div>
      <p>{{ dataProduct.description }}</p>
      <div class="rating">
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
      </div>
      <div class="price-box">
        <div class="discount">{{ dataProduct.price + 299 }}</div>
        <div class="price">TND {{ dataProduct.price }}</div>
      </div>

      <!-- New button and quantity input section -->
      <div class="button1" *ngIf="!addButton" (click)="addButton = true">
        <button *ngIf="!done">Add To Cart</button>
        <button *ngIf="done"><i class="bi bi-check-circle-fill"></i> Done</button>
      </div>

      <div class="quantity-input " *ngIf="addButton">
        <!-- <label for="quantity">Quantity:</label>
        <input
          type="number"
          id="quantity"
          [(ngModel)]="quantity"
          min="1"
          [max]="data.quantity"
        />
        <button (click)="add(); addButton = false; done = true">Save</button> -->

        <div class="card__counter quantity">
          <button  class="card__btn"
            (click)="decreaseQuantity()"
          >
            -
          </button>
          <div class="card__counter-score">{{ quantity }}</div>
          <button
            (click)="increaseQuantity()"
            class="card__btn card__btn-plus"
          >
            +
          </button>
        </div>
        <button class="save-btn" (click)="add(); addButton = false; done = true">Save</button>
      </div>
    </div>
  </div>

  <div class="box two" *ngIf="dataProduct">
    <div class="image-box">
      <div class="image">
        <img [src]="dataProduct.imageUrl" alt="Product Image" />
      </div>
      <div class="info">
        <div class="brand">{{ dataProduct.marque || "" }}</div>
        <div class="name">{{ dataProduct.name }}</div>
        <div class="shipping">FREE SHIPPING</div>
        <div class="button2">
          <button routerLink="/login">Login For More</button>
        </div>
      </div>
    </div>
  </div>
</div>
