.form label .input01:focus + span,.form label .input01:valid + span {
  top: 70%;
  font-size: 0.7em;
  font-weight: 600;
}



.container{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
}
.container img{
  height: 100vh;

}
.form {
  gap: 10px;
  width: 600px;
}

