<div class="wrapper">
  <header>Send us a Message</header>
  <form  [formGroup]="contactForm" action="#">
    <div class="dbl-field">
      <div class="field">
        <input type="text" formControlName="name" placeholder="Enter your name">
        <i class="bi bi-person-fill"></i>
      </div>
      <div class="field">
        <input type="email" formControlName="email" placeholder="Enter your email">
        <i class="bi bi-envelope-at-fill"></i>
      </div>
    </div>
    <div class="dbl-one">
      <div class="field">
        <input type="text" formControlName="subject" placeholder="Subject">
        <i class="bi bi-globe"></i>
      </div>
    </div>
    <div class="message">
      <textarea placeholder="Write your message" formControlName="body"></textarea>
      <i class="bi bi-chat-left-dots"></i>
    </div>
    <div class="button-area">
      <button  (click)="createMessage()" >Send Message</button>
      <span></span>
    </div>
  </form>
</div>
